*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--bg);

    color:var(--text);

    font-family:
    Inter,
    sans-serif;

    transition:.35s;

    overflow-x:hidden;

}

/* Container */
.container{

    width:min(1180px,90%);

    margin:auto;

}

/* Section */
section{

    padding:100px 0;

}

/* Title */
.section-title{

    font-size:38px;

    font-weight:700;

    margin-bottom:18px;

}

/* Section Subtitle */
.section-subtitle{

    max-width:650px;

    margin-top:15px;

    margin-bottom:50px;

    color:var(--text-light);

    line-height:1.8;

    font-size:1rem;

}

/* Card */
.card{

    background:var(--surface);

    border:1px solid var(--border);

    border-radius:20px;

    padding:30px;

    box-shadow:var(--shadow);

    transition:.3s;

}

/* Hover */
.card:hover{

    transform:translateY(-8px);

}

/* Button */
.btn{

display:inline-flex;

align-items:center;

justify-content:center;

padding:14px 24px;

border-radius:12px;

text-decoration:none;

font-weight:600;

transition:.3s;

cursor:pointer;

}

/* Primary Button */
.btn-primary{

background:var(--primary);

color:white;

}

/* Primary Button Hover */
.btn-primary:hover{

background:#1d4ed8;

}

/* Outline Button */
.btn-outline{

border:1px solid var(--border);

color:var(--text);

}