:root{

    --primary:#2563eb;
    --primary-light:#60a5fa;

    --secondary:#3b82f6;

    --accent:#93c5fd;

    --bg:#f8fafc;

    --surface:#ffffff;

    --text:#0f172a;

    --text-light:#475569;

    --border:#e2e8f0;

    --shadow:0 10px 30px rgba(0,0,0,.08);

    --gradient:
    linear-gradient(
        135deg,
        #eff6ff,
        #dbeafe,
        #ffffff
    );

}

/* Dark Theme */
[data-theme="dark"]{

    --bg:#0f172a;

    --surface:#1e293b;

    --text:#f8fafc;

    --text-light:#cbd5e1;

    --border:#334155;

    --shadow:0 10px 35px rgba(0,0,0,.35);

    --gradient:
    linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a,
        #1e293b
    );

}